@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.sour-gummy {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    color: burlywood;
    background-color: #1e0546;
    overflow: hidden;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Sour Gummy", sans-serif;
}

.glslCanvas {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.splash {
    font-size: calc(5vw + 10vh);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.25s ease-out, top 0.5s ease;
    z-index: 1;
    filter: drop-shadow(0 0 5px burlywood) drop-shadow(0 0 5px burlywood);
    user-select: none;
}

.splash.clicked {
    pointer-events: none;
    transform: scale(0.5) !important;
    transition: none !important;
}

.splash.clicked:hover {
    transform: none !important;
}

.splash h1 {
    margin: calc(-1vw + -5vh);
    padding: calc(3vw + 5vh);
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards;
}

.splash:hover {
    transform: none;
}

.splash p {
    translate: 0 calc(-4vw + -4vh);
    font-size: calc(1vw + 1vh);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.evrtelse {
    position: absolute;
    display: block;
    width: 100%;
    top: 100vh;
    opacity: 0;
    z-index: 2;
}

hr {
    color: burlywood;
    border: none;
    border-top: 4px solid;
}

@keyframes crocbounce {
    0% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1.);
    }
}

.crocbounce {
    animation: crocbounce .25s ease-in-out forwards;
}

@keyframes crocpulse {
    0% {
        filter: drop-shadow(0 0 0 #55108d);
    }

    50% {
        filter: drop-shadow(0 0 5px #55108d);
    }

    100% {
        filter: drop-shadow(0 0 0 #55108d);
    }
}

#crocwrapfix {
    animation: crocpulse 2s ease-in-out infinite;
}

#croc {
    max-width: 100%;
    max-height: 48px;
    cursor: pointer;
}


#presentacion {
    display: flex;
    color: #55108d;
    background-color: burlywood;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.sectit {
    margin: -24px;
    font-size: 24px;
}

.sectxt {
    width: 50%;
    margin-top: -12px;
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.olawavespan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.olawavespan span {
    display: inline-block;
    animation: wave 1.75s ease-in-out infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

#gustos {
    display: none;
    margin-top: 1vh;
    color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 20px 15vw;
}

.images a img,
.images a video {
    display: block;
    width: auto;
    height: 5vw;
    border-radius: 2%;
    box-sizing: border-box;
}

.gallery {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}

.gallery-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.gallery-buttons button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
    font-family: monospace;
    color: rgb(0, 0, 0);
}


.gallery-content {
    width: 15wh;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid burlywood;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.gallery-content img,
.gallery-content video {
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}


#prevBtn,
#nextBtn {
    background: tan;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 15px;
}


#zoomOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#zoomOverlay img,
#zoomOverlay video {
    height: 85vh;
    width: auto;
    object-fit: contain;
}

#social {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    color: #55108d;
    background-color: burlywood;
    align-items: center;
    padding-bottom: 12px;
}

#social p {
    margin-bottom: -14px;
}

.links {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 24px;
}

.links a {
    text-decoration: none;
    padding: 20px;
}

.links a img {
    display: block;
    height: 48px;
    width: auto;
}

#creditos {
    font-size: 18px;
    position: absolute;
    bottom: 4px;
    right: 10px;
    z-index: 1000;
    color: burlywood;
    text-shadow:
        -1px -1px 0 #55108d,
        1px -1px 0 #55108d,
        -1px 1px 0 #55108d,
        1px 1px 0 #55108d;
    overflow: hidden;
}

#creditos img {
    clip-path: inset(0 0 40% 0);
    margin-bottom: -86px;
    margin-top: -32px;
}


.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}