@font-face {
    font-family: 'thefunny';
    src: url('https://frestyboi.github.io/css/fonts/airlocke.woff2') format('woff2'),
         url('https://frestyboi.github.io/css/fonts/airlocke.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}